version: "3"
services:
  db:
    container_name: ${DB_HOST}
  dspace:
    command: start --debug
    environment:
      JPDA_ADDRESS: "8001"
    ports:
      - "8000:8000"
    container_name: ${PROJECT_NAME}
    image: dspace:sedici_master
    environment:
      DSPACE_GIT_URL: "https://github.com/sedici/DSpace"
      DSPACE_GIT_REVISION: "sedici_master"
      DSPACE_WEBAPPS: "xmlui oai sword solr"
      POSTGRES_DB_HOST: ${DB_HOST}
  # phppgadmin:
  #   restart: always
  #   image: dockage/phppgadmin:latest
  #   ports:
  #   - "80:80"
  #   environment:
  #   - PHP_PG_ADMIN_SERVER_DESC=PostgreSQL
  #   - PHP_PG_ADMIN_SERVER_HOST=${DB_HOST}
  pgadmin4:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "pablo.cda@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "dspace"
    ports:
      - "80:80"
